* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(80,157,172,1) 0%, rgba(78,82,106,1) 100%);
    margin-top: 80px;
}

/* Header */
.cont-header {
    width: 100%;
    height: 70px;
    background-color: rgb(224, 69, 69);
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 901;
}

.cont-header__titulo {
    margin-left: auto;
    color: #fff;
}

.cont-header__nav{
    margin-left: auto;
}

.cont-header__lista {
    margin-right: 20px;
}

.cont-header__lista-item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.cont-header__lista-item a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

a:hover{
    background: #333;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Inicio */
.cont-inicio {
    width: 100%;
    display: flex;
    background-color: #333;
    margin-top: 10px;
    flex-direction: row;
}

.cont-inicio__texto {
    color: #fff;
    font-size: 2rem;
    margin-top: 10%;
    margin-left: 5%;
}

picture img{
    border-radius: 50%;
}

/* Productos */
.cont-prod {
    width: auto;
    background-color: #333;
}
.cont-prod__titulo {
    text-align: center;
    margin: 10px 0px;
    color: #fff;
    padding-top: 10px;
}
.cont-prod__tarjetas {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.cont-prod__imgs {
    width: 250px;
    height: 250px;
    margin: 5px;
}

.cont-prod__imgs img {
    min-width: 180px;
    height: 250px;
    width: 100%;
}

/* Ubicacion */

.cont-ubicacion {
    width: 100%;
    text-align: center;
    background-color: #333;
}

.cont-ubicacion__titulo {
    margin: 10px 0px;
    color: #fff;
    padding-top: 10px;
}

.cont-ubicacion__mapa {
    width: 100%;
    padding-bottom: 10px;
}

/* Footer */

.cont-footer {
    width: 100%;
    background-color: #333;
}

/* logo whatsapp */
.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 1000;
}

.logo:hover {
    width: 80px;
    height: 80px;
    transition: all 1s;
}

hr {
    width: 50%;
    margin: 20px auto;
    height: 3px;
    background: #333;
    border: solid #333;
    border-radius: 50%;
}

@media screen and (max-width: 496px) {

    .checkbtn{
        display: block;
    }
      
    .cont-header__lista {
        position: fixed;
        width: 100%;
        height: 220px;
        background: #333;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .cont-header__lista-item {
        display: block;
        margin: 50px 0;
        line-height: 10px;
    }

    .cont-header__lista-item a {
        font-size: 20px;
    }

    a:active {
        background: none;
        color: rgb(224, 69, 69);
    }

    #check:checked ~ ul{
        left: 0;
    }

    /* Inicio */

    .cont-inicio__texto {
        font-size: 15px;
        margin: 0 auto
    }

    picture img {
       width: 100%;
       min-width: 180px;
    }

    /* Productos */

    .cont-prod__tarjetas{
        width: 95%;
        flex-direction: column;
        margin: 0 auto;
    }
/*
    .cont-prod__ims img {
        width: 1px;
        height: 1px;
    }

    .cont-prod__igs {
        width: 150px;
        height: 150px;
        margin: px;
    }
    */
    iframe {
        width: 300px;
    }

    /* Logo whatsapp */
    .logo:hover {
        width: 50px;
        height: 50px;
        transition: all 1s;
    }
}

@media screen and (max-width: 780px) and (min-width: 497px) {

    /* Inicio */
    .cont-inicio__texto {
        margin-top: 5%;
    }

    /* Productos */

    .cont-prod__tarjetas{
        flex-direction: column;
    }
    .cont-prod__column {
        display: flex;
    }
}

@media screen and (max-width: 630px) {

    .cont-inicio {
        flex-direction: column;
        align-items: center;
    }

    .cont-inicio__texto {
        font-size: 20px;
        margin-top: 10px;
        flex: 1
    }
}

